<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6e3d1ca9-b6db-45de-b4ab-4b76be781422/resourcegroups/InvoiceAPIv220220619100021ResourceGroup/providers/Microsoft.Web/sites/InvoiceAPIv220220619100021</ResourceId>
    <ResourceGroup>InvoiceAPIv220220619100021ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/6e3d1ca9-b6db-45de-b4ab-4b76be781422/resourceGroups/InvoiceAPIv220220619100021ResourceGroup/providers/Microsoft.ApiManagement/service/InvoiceAPIv2api/apis/InvoiceAPIv2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://invoiceapiv220220619100021.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c75a5f6c-31b4-438e-a81b-da29e966f941</ProjectGuid>
    <MSDeployServiceURL>invoiceapiv220220619100021.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InvoiceAPIv220220619100021</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$InvoiceAPIv220220619100021</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>